[ req ]
default_bits       = 2048
prompt             = no
default_md         = sha256
distinguished_name = req_distinguished_name 

[ req_distinguished_name ]
C  = GR
ST = Attica
L  = Athens
O  = firewall
OU = firewall
CN = firewall
emailAddress = cfirewall@gmail.com
