option domain-name-servers 8.8.8.8, 1.1.1.1;

default-lease-time 600;

max-lease-time 7200;

ddns-update-style none;
{% for intface in intfaces %}
subnet {{ intface.net }} netmask {{ intface.mask }} {
 range {{ intface.dhcp_start }} {{ intface.dhcp_end }};
  option routers {{ intface.ipaddr }};
}
{% endfor %}
